# Web framework
streamlit==1.30.0

# Data handling and visualization
pandas==1.5.3
numpy==1.24.4
matplotlib==3.7.2
seaborn==0.12.2
plotly==5.20.0
wordcloud==1.9.3
qdrant-client

# NLP and Machine Learning
transformers==4.30.2
sentence-transformers==2.2.2
faiss-cpu==1.7.4
huggingface-hub==0.19.4  # Ensures compatibility with sentence-transformers

# Web scraping
beautifulsoup4==4.12.3
selenium==4.18.1
webdriver-manager==4.0.1

# Date and time utilities
dateparser==1.1.8

# Additional utilities
requests==2.31.0
regex==2023.12.25
concurrent-log-handler==0.9.24

# OpenAI API
openai==0.28
# Authentication
PyJWT==2.8.0
gtts