# Web framework
streamlit

# Data handling and visualization
pandas
numpy
matplotlib
seaborn
plotly
wordcloud
qdrant-client

# NLP and Machine Learning
transformers
sentence-transformers
faiss-cpu
huggingface-hub

# Web scraping
beautifulsoup4
selenium
webdriver-manager

# Date and time utilities
dateparser

# Additional utilities
requests
regex
concurrent-log-handler

# OpenAI API
openai
# Authentication
PyJWT
gtts
setuptools 
wheel
jaraco
jaraco.text
streamlit-extras
st-pages
openai
gtts
pymongo
streamlit-lottie
streamlit-authenticator